#map {
  height: 90vh;
  width: 100%;
  position: relative;
  z-index: 10;
  border-radius: 12px;
  overflow: hidden;
}

/* Make sure map captures mouse events */
.leaflet-container {
  cursor: grab !important;
  touch-action: pan-x pan-y !important;
}

/* While dragging */
.leaflet-container:active {
  cursor: grabbing !important;
}
